.img{
   
    object-fit: cover;
}

.heroContainer{
    position: relative;
    width: 100%;
    height: 312px;
    top: -90px;
    bottom: 0;
}
.empContainer{
    position: relative;
    width: 100%;
    height: 312px;
    bottom: 0;
}
